/* 模态层 */
.popup{
	display: none;

	height: 100%;
	width: 100%;
	
	left: 0;
	top: 0;

	position:fixed;

	flex-direction: column;
	justify-content: center;

	z-index: 99999;
}
/* 模态层--显示 */
.popup--show{
	display: flex;
}

/* 模态层背景 */
.popup_backdrop{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	opacity: .8;
	background-color: #fff;
}

/* 对话窗外层定位div */
.popup-warpper{
	position: relative;
	display: flex;
	flex-direction: column;
	margin:0 auto;
}

/* 对话窗主体 */
.popup-main{
	width: 610px;
	height: 390px;
	background-color: #fff;
	border:1px solid #d3d3d3;
	border-radius: 6px;
	padding: 7px;	
}

/* 对话窗标题 */
.popup-main > h3{
	margin:0;
	margin-left: 10px;
	margin-top: 8px;
}

/* 关闭按钮 */
.popup-close{
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 5px;
	
	font-size: 20px;
	color: #737373;

	cursor: pointer;
}

/* 对话内容 */
.popup-body{
	margin-top: 10px;
	width: 98%;
	height: 84%;
	overflow-y: auto;
}
.popup-list{
	margin-right: 10px;
}